.component {

    .percentage-bar {

        height: 20px;

        .percentage-bar-item {
            height: 10px;
        }

        .percentage-bar-item:hover {
            border: 1px solid grey;
        }
    }
    
    .truncate-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}